@font-face {
  font-family: 'pressstart2p';
  src:url(/fonts/pressstart2p-regular.ttf);
  font-style: normal;
}
body {
    user-select: none;
    background-color: #99E1D9;
}
h2 {
    padding: 2%;
    color:#FCFCFC;
    font-family: 'pressstart2p';
}
.landing {
    display: none;
}
.dark-mode {
    filter: invert(100%);
}
.mySlides {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
  max-width: 600px;
}
.bg-nav {
  background-color: #5D576B;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-nav a{
  color: #FCFCFC;
  font-family: 'pressstart2p';
}
.nav-item:hover{
  background-color: #F7567C;
}
.dropdown-menu.show {
  background-color: #F7567C;
}
a.dropdown-item:hover {
  background-color: #99E1D9;
  color: #5D576B;
  font-family: 'pressstart2p';
}
div#landing.container.navbar-light.bg-landing{
  background-color: #F7567C;
}
a#nitin.list-group-item.list-group-item-action{
  background-color: #FFFAE3;
  margin-top:2%;
  color:#5D576B;
  font-family: 'pressstart2p';
}
a#noah.list-group-item.list-group-item-action{
  background-color: #FFFAE3;
  margin-top:2%;
  color:#5D576B;
  font-family: 'pressstart2p';
}
a#parth.list-group-item.list-group-item-action{
  background-color: #FFFAE3;
  margin-top:2%;
  color:#5D576B;
  font-family: 'pressstart2p';
}
a#jake.list-group-item.list-group-item-action{
  background-color: #FFFAE3;
  margin-top:2%;
  color:#5D576B;
  font-family: 'pressstart2p';
}
a#justin.list-group-item.list-group-item-action{
  background-color: #FFFAE3;
  margin-top:2%;
  color:#5D576B;
  font-family: 'pressstart2p';
}
a#nitin.list-group-item.list-group-item-action:hover{
  background-color: #FFF8D6;
}
a#noah.list-group-item.list-group-item-action:hover{
  background-color: #FFF8D6;
}
a#parth.list-group-item.list-group-item-action:hover{
  background-color: #FFF8D6;
}
a#jake.list-group-item.list-group-item-action:hover{
  background-color: #FFF8D6;
}
a#justin.list-group-item.list-group-item-action:hover{
  background-color: #FFF8D6;
}
div.list-group a{
  background-color: #FFFAE3;
  color: #5D576B;
  font-family: 'pressstart2p';
}
div.list-group a:hover{
  background-color: #FFF8D6;
  color: #5D576B;
  font-family: 'pressstart2p';
}
div.col h1,div.col p{
    color: #FCFCFC;
    font-family: 'pressstart2p';
}
button#themeswitch.btn.btn-light.btn-toggle{
  background-color: #FFFAE3;
  color: #5D576B;
  font-family: 'pressstart2p';
}
/*--------------------------dark mode below-------------------------------------*/
body.dark-theme {
    user-select: none;
    background-color: #4F5D75;
}
body.dark-theme .bg-nav {
  background-color: #2D3142;
}
body.dark-theme nav.navbar.navbar-expand-lg.navbar-light.bg-nav a{
  color: #BFC0C0;
  font-family: 'pressstart2p';
}
body.dark-theme .nav-item:hover{
  background-color: #403D39;
}
body.dark-theme .dropdown-menu.show {
  background-color: #403D39;
}
body.dark-theme a.dropdown-item:hover {
  background-color: #4F5D75;
  color: #5D576B;
  font-family: 'pressstart2p';
}
body.dark-theme div#landing.container.navbar-light.bg-landing{
  background-color: #403D39;
}
body.dark-theme a#nitin.list-group-item.list-group-item-action{
  background-color: #EF8354;
  margin-top:2%;
  color:#2D3142;
  font-family: 'pressstart2p';
}
body.dark-theme a#noah.list-group-item.list-group-item-action{
  background-color: #EF8354;
  margin-top:2%;
  color:#2D3142;
  font-family: 'pressstart2p';
}
body.dark-theme a#parth.list-group-item.list-group-item-action{
  background-color: #EF8354;
  margin-top:2%;
  color:#2D3142;
  font-family: 'pressstart2p';
}
body.dark-theme a#jake.list-group-item.list-group-item-action{
  background-color: #EF8354;
  margin-top:2%;
  color:#2D3142;
  font-family: 'pressstart2p';
}
body.dark-theme a#justin.list-group-item.list-group-item-action{
  background-color: #EF8354;
  margin-top:2%;
  color:#2D3142;
  font-family: 'pressstart2p';
}
body.dark-theme a#nitin.list-group-item.list-group-item-action:hover{
  background-color: #EB6A33;
}
body.dark-theme a#noah.list-group-item.list-group-item-action:hover{
  background-color: #EB6A33;
}
body.dark-theme a#parth.list-group-item.list-group-item-action:hover{
  background-color: #EB6A33;
}
body.dark-theme a#jake.list-group-item.list-group-item-action:hover{
  background-color: #EB6A33;
}
body.dark-theme a#justin.list-group-item.list-group-item-action:hover{
  background-color: #EB6A33;
}
body.dark-theme div.list-group a{
  background-color: #EF8354;
  color: #403D39;
  font-family: 'pressstart2p';
}
body.dark-theme div.list-group a:hover{
  background-color: #EB6A33;
  color: #5D576B;
  font-family: 'pressstart2p';
}
body.dark-theme div.col h1,body.dark-theme div.col p{
    color: #BFC0C0;
    font-family: 'pressstart2p';
}
body.dark-theme a#navbarDropdown.nav-link.dropdown-toggle {
  color: #BFC0C0;
  font-family: 'pressstart2p';
}
body.dark-theme h2 {
    padding: 2%;
    color:#BFC0C0;
    font-family: 'pressstart2p';
}

body.dark-theme button#themeswitch.btn.btn-light.btn-toggle{
  background-color:#EF8354 ;/**/
  color:#2D3142 ;
  font-family: 'pressstart2p';
}
