@font-face {
  font-family: 'pressstart2p';
  src:url(/fonts/PressStart2P-Regular.ttf);
  font-style: normal;
}
body {
    background-color: #99E1D9;
    margin: 0%;
    padding: 0%;
    padding-top: 70px;
}
.container {
    margin-top: 1%;
    text-align: center;
}
h2 {
    padding: 2%;
    font-family: 'pressstart2p';
}
.landing {
    display: none;
}
.dark-mode {
    filter: invert(100%);
}
.bg-nav {
  background-color: #5D576B;
}
a.dropdown-item{
  color:#EFFAF0;
  font-family: 'pressstart2p';
}
.nav-item:hover{
  background-color: #F7567C;
}
.dropdown-menu.show {
  background-color: #F7567C;
}
a.dropdown-item:hover {
  background-color: #99E1D9;
}
div.row {
  background-color: #F7567C;
}
.card {
  background-color: #F7567C;
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-nav a{
  color: #FCFCFC;
  font-family: 'pressstart2p';
}
h1 {
  color: #FCFCFC;
  font-family: 'pressstart2p';
}
p.lg-text {
  color: #FCFCFC;
  font-family: 'pressstart2p';
}
p.lg-text a{
  color: #FCFCFC;
  font-family: 'pressstart2p';
}
button#themeswitch.btn.btn-light.btn-toggle{
  background-color: #FFFAE3;
  color: #5D576B;
  font-family: 'pressstart2p';
}

/*--------------------------dark mode below-------------------------------------*/
body.dark-theme {
    background-color: #4F5D75;
    margin: 0%;
    padding: 0%;
    padding-top: 70px;
}
body.dark-theme .bg-nav {
  background-color: #2D3142;
}
body.dark-theme .nav-item:hover{
  background-color: #403D39;
}
body.dark-theme .dropdown-menu.show {
  background-color: #403D39;
}
body.dark-theme a.dropdown-item:hover {
  background-color: #4F5D75;
}
body.dark-theme div.row {
  background-color: #403D39;
}
body.dark-theme .card {
  background-color: #403D39;
}
body.dark-theme nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-nav a{
  color: #BFC0C0;
  font-family: 'pressstart2p';
}
body.dark-theme h1 {
  color: #BFC0C0;
  font-family: 'pressstart2p';
}
body.dark-theme p.lg-text {
  color: #FCFCFC;
  font-family: 'pressstart2p';
}
body.dark-theme p.lg-text a{
  color: #FCFCFC;
  font-family: 'pressstart2p';
}
body.dark-theme button#themeswitch.btn.btn-light.btn-toggle{
  background-color:#EF8354 ;/**/
  color:#2D3142 ;
  font-family: 'pressstart2p';
}
