@font-face { /*declares the font family and where it is stored*/
  font-family: 'pressstart2p';
  src:url(/fonts/PressStart2P-Regular.ttf);
  font-style: normal;
}
body {
    user-select: none;
    background-color: #99E1D9; /*Middle blue green*/
}
.bg-nav {
  background-color: #5D576B; /* independence (dark blue)*/
}
nav.navbar.navbar-expand-lg.navbar-light.bg-nav a{
  color: #FCFCFC; /*white*/
  font-family: 'pressstart2p';
}
.nav-item:hover{
  background-color: #F7567C; /*brink pink*/
}
.dropdown-menu.show {
  background-color: #F7567C; /*brink pink*/
}
a.dropdown-item:hover {
  background-color: #99E1D9; /*Middle blue green*/
  color: #5D576B; /* independence (dark blue)*/
  font-family: 'pressstart2p';
}
div.card {
  background-color: #F7567C; /*brink pink*/
}
h5{
  color: #FCFCFC; /*white*/
  font-family: 'pressstart2p';
}
p {
  color: #FCFCFC; /*white*/
  font-family: 'pressstart2p';
}
.card-text p {
  color: #FCFCFC; /*white*/
  font-family: 'pressstart2p';

}button#themeswitch.btn.btn-light.btn-toggle{
  background-color: #FFFAE3; /*cornsilk (pale yellowish-green*/
  color: #5D576B; /* independence (dark blue)*/
  font-family: 'pressstart2p';
}

/*--------------------------dark mode below-------------------------------------*/
body.dark-theme {
    user-select: none;
    background-color: #4F5D75; /* independence (dark blue)*/
}
body.dark-theme .bg-nav {
  background-color: #2D3142; /* space cadet (dark blue)*/
}
body.dark-theme nav.navbar.navbar-expand-lg.navbar-light.bg-nav a{
  color: #BFC0C0; /*silver*/
  font-family: 'pressstart2p';
}
body.dark-theme .nav-item:hover{
  background-color: #403D39; /*black olive*/
}
body.dark-theme .dropdown-menu.show {
  background-color: #403D39; /*black olive*/
}
body.dark-theme a.dropdown-item:hover {
  background-color: #4F5D75; /* independence (dark blue)*/
  color: #5D576B; /* independence (dark blue)*/
  font-family: 'pressstart2p';
}
body.dark-theme div.card {
  background-color: #403D39; /*black olive*/
}
body.dark-theme p{
    color: #2D3142; /* space cadet (dark blue)*/
    font-family: 'pressstart2p';
}
body.dark-theme h5{
  color: #BFC0C0; /*silver*/
  font-family: 'pressstart2p';
}
body.dark-theme p {
  color: #BFC0C0; /*silver*/
  font-family: 'pressstart2p';
}
body.dark-theme .card-text p {
  color: #BFC0C0; /*silver*/
  font-family: 'pressstart2p';
}
body.dark-theme button#themeswitch.btn.btn-light.btn-toggle{
  background-color:#EF8354; /*mandarin*/
  color:#2D3142; /* space cadet (dark blue)*/
  font-family: 'pressstart2p';
}
